@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:wght@400;700&display=swap');

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    margin-top: 58px;
}

.container{
    width: 737px;
    margin: auto;
}

/*  HEADER BOLUMU */
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side{
    display: flex;
    align-items: center;
}

.font-selector-container{
    cursor: pointer;
}

.dark-theme-container{
    display: flex;
    width: 80px;
    justify-items: center;
    justify-content: space-between;
}

.font-family{
    margin-right: 18px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.stick-container{
    margin: 0px 26px;
}

.toggle{
    width: 40px;
    height: 20px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}
.toggle-input{
    display: none;
}
.toggle-fill{
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background: #757575;
}

.toggle-fill::after{
    content: "";
    position: absolute;
    top: 3.4px;
    left: 4px;
    height: 14px;
    width: 14px;
    background: #ffff;
    box-shadow: 0 0 10px rgba(0,0,0.25);
    border-radius: 50%;
    transition: transform .5s;
}

.toggle-input:checked ~ .toggle-fill::after{
    transform: translateX(19px);
}

.fa-moon{
    transform: rotate(-25deg);
    font-size: 20px;
}

/* Search Bolumu */
.search-container{
    margin-top: 50px;
    position: relative;
}

.search-container input{
    width: 100%;
    border-radius: 16px;
    background: #F4F4F4;
    padding: 20px 24px;
    border: none;
    color: #2D2D2D;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid transparent;
}

.search-container input::placeholder{
    opacity: 0.25;
}

.search-container input:focus{
    outline: #A445ED;
    border: 1px solid #A445ED ;
}

.search-icon{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}

/* Arama Sonucu Bolumu */

.search-result-container{
    margin-top: 45px;
}

.search-result{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-text{
    color: #2D2D2D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 64px;
    font-weight: 700;
}

.result-pronunciation{
    margin-top: 8px;
    color: #A445ED;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
}

.voiceover{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.word-type{
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.word-type-text{
    color:#2D2D2D;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    margin-right: 20px;
}

.line{
    height: 1px;
    background: #E9E9E9;
    width: 100%;
}

.meaning-container{
    margin-top: 40px;
}

.meaning-container h3 {
    color: #757575;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.meaning-description-list{
    margin-top: 25px;
    padding-left: 44px;
}

.description-element{
    padding: 9px;
    color: #2D2D2D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    line-height: 24px;
}

.description-element::marker{
    color: #8F19E8;
}

.synonim-container{
    margin-top: 40px;
}

.synonyms-title {
    color:#757575;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    margin-right: 20px;
}

.synonyms-content{
    color:#A445ED;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.example{
    margin-left: 47px;
    color:#757575;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    line-height: 24px;
}

.last-line{
    margin-top: 40px;
}

.source-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.source-title{
    color: #757575;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    text-decoration-line: underline;
    margin-right: 20px;
}

.source-link-container{
    display: flex;
    align-items: center;
}

.source-link{
    color:#2D2D2D;
    font-size: 14px;
    text-decoration-line: underline;
    margin-right: 9px;
}